body {
    text-align: center;
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -700px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    height: 100%;
}


#left #block-left {
    position: fixed;
    background-color: #5a5a5a;
}

/* Header */
#header {
    background-color: #5a5a5a;
    padding: 10px;
}
#header h2 {
    font-size: 1.2em;
}

/* Body */
#body {
    background-color: #5a5a5a7c;
    padding: 10px;
    box-shadow: inset 0 0 20px 0 #000;
    height: 100vh;
}
#body ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#body hr {
    background-color: #fff;
    width: 80%;
}
#body h3 {
    font-weight: bold;
}
#body #download {
    color: #fff;
    font-size: 1em;
    position: absolute;
    top: 10px;
    right: 10px;
}
#body .details {
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
}
#body .details p {
    margin: 0;
}
#body .details .details-popup {
    background-color: #5a5a5a;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    width: 100%;
    display: none;
    z-index: 10;
}
#body .details .details-popup p {
    margin: 0;
}


/* Footer */
#footer {
    background-color: #5a5a5a;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
#footer footer {
    display: flex;
    flex-direction: column;
}
#footer footer a {
    color: #fff;
    text-decoration: none;
}
#footer footer a i {
    font-size: 2.7em;
}

@media only screen and (min-width: 992px) {
    body {
        background-position: 0;
    }
}