body {
    text-align: center;
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -700px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    height: 100%;
}


#left #block-left {
    position: fixed;
    background-color: #5a5a5a;
}

/* Header */
#header {
    background-color: #5a5a5a;
    padding: 10px;
}
#header h2 {
    font-size: 1.2em;
}

/* Body */
#body {
    background-color: #5a5a5aa8;
    padding: 10px;
    box-shadow: inset 0 0 20px 0 #000;
    height: 100vh;
}
#body ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#body hr {
    background-color: #fff;
    width: 80%;
}
#body h3 {
    font-weight: bold;
}

#download {
    font-size: 0.6em;
}
#footer footer a#download i {
    font-size: 0.9em;
}

.popup {
    position: relative;
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
}
  
.popup[title]:hover::after {
    content: attr(title);
    position: absolute;
    background-color: #5a5a5a;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    padding: 5px;
    box-shadow: 0px 0px 10px 0px #000;
    width: 200px;
    font-size: 0.6em;
    left: calc((100% - 200px) / 2);
    top: -25px;
}

.popup i {
    font-size: 0.8em;
}

/* Footer */
#footer {
    background-color: #5a5a5a;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
#footer footer {
    display: flex;
    flex-direction: column;
}
#footer footer a {
    color: #fff;
    text-decoration: none;
}
#footer footer a i {
    font-size: 2.7em;
}

@media only screen and (min-width: 992px) {
    body {
        background-position: 0;
    }
}

@media only screen and (max-width: 992px) {
    #body {
        height: 100%;
    }
}

li.carousel-nav-item {
    width: 100%;
    height: auto;
    margin: 0;
    text-indent: 0;
    background-color: #3d3d3d;
    border-radius: 10px;
    padding: 5px;
}