{% extends 'base.html.twig' %}

{% block body %}
    <a id="download" href="{{path('cv')}}" title="Téléchager le CV"><i class="fa fa-download" aria-hidden="true"></i></a>
    <div id="comp" class="cv-elt col-sm-12 col-xl-3">
        <h3>Compétences</h3><br>
        <ul>
            <li>PHP / Symfony</li>
            <li>HTML 5 / Twig</li>
            <li>CSS 3 / Bootstrap</li>
            <li>MySQL</li>
            <li>JavaScript / jQuery</li>
            <li>React.js / MobX</li>
            <li>GitHub</li>
            <li>Windev / Webdev</li>
            <li>Conception 3D</li>
            <li>Edition d'image</li>
        </ul>
    </div>

    <div id="form" class="cv-elt col-sm-12 col-xl-3">
        <h3>Formations</h3><br>
        <h5>OpenClassrooms</h5>
        <p>Développeur Web Junior en 2019</p><br>
        <h5>Auto-Formation</h5>
        <p>Développement Web en 2018</p><br>
        <h5>Lycée Galilée</h5>
        <p>Bac Pro Chaudronnerie en 2016</p><br>
        <h5>Lycée Galilée</h5>
        <p>CAP Chaudronnerie en 2015</p><br>
        <h5>Collège George Brassens</h5>
        <p>Brevet des collèges</p>
    </div>

    <div id="exp" class="cv-elt col-sm-12 col-xl-3">
        <h3>Expériences Professionnelles</h3><br>
        <h5>Développeur</h5>
        <p class="infos" id="kls">Chez KLS-Transport</p>
        <div class="pop kls">
            <i class="fas fa-caret-up"></i>
            <p>Alternance en 2019</p>
        </div>
        <br>
        <h5>Développement Web</h5>
        <p class="infos" id="web">Mes projets</p>
        <div class="pop web">
            <i class="fas fa-caret-up"></i>
            <p>Dans la catégorie "Mes projets", il y a quelques réalisations web</p>
        </div>
        <br>
        <h5>Préparateur de commande</h5>
        <p class="infos" id="eppc">Chez XPO Gel Service</p>
        <div class="pop eppc">
            <i class="fas fa-caret-up"></i>
            <p>De mars 2017 à novembre 2017</p>
        </div>
        <br>
        <h5>Chaudronnerie</h5>
        <p class="infos" id="epc1">Chez M.S.I.</p>
        <div class="pop epc1">
            <i class="fas fa-caret-up"></i>
            <p>12 semaine de stage entre 2014 et 2016 suivi de 2 semaine d'intérim en 2017</p>
        </div>
        <p class="infos" id="epc2">Au Burkina Faso</p>
        <div class="pop epc2">
            <i class="fas fa-caret-up"></i>
            <p>Nous avons créer un abris métallique pour des enfants d'une maternelle avec mon lycée</p>
        </div>
        <p class="infos" id="epc3">Chez C.C.M.</p>
        <div class="pop epc3">
            <i class="fas fa-caret-up"></i>
            <p>6 semaine de stage en 2014</p>
        </div>
    </div>

    <div id="qual" class="cv-elt col-sm-12 col-xl-3">
        <h3>Qualités</h3><br>
        <ul>
            <li>Curieux</li>
            <li>Logique</li>
            <li>Autonome</li>
            <li>Sociable</li>
            <li>Ingénieux</li>
            <li>Réaliste</li>
            <li>Efficace</li>
        </ul>
    </div>
{% endblock %}
