<h3>Expériences Professionnelles</h3>
<h5>Développeur</h5>
<div class="details">
    <p>Chez KLS-Transport <i class="fas fa-caret-up"></i></p>
    <div class="details-popup">
        <p>Alternance en 2019</p>
    </div>
</div>

<h5>Développement Web</h5>
<div class="details">
    <p>Auto formation <i class="fas fa-caret-up"></i></p>
    <div class="details-popup">
        <p>Quelque petits projets presonnel</p>
    </div>
</div>
<div class="details">
    <p>Chez Greentic <i class="fas fa-caret-up"></i></p>
    <div class="details-popup">
        <p>Développeur WEB en 2020, principalement du E-commerce avec PrestaShop</p>
    </div>
</div>

<h5>Préparateur de commande</h5>
<div class="details">
    <p>Chez XPO Gel Service <i class="fas fa-caret-up"></i></p>
    <div class="details-popup">
        <p>De mars 2017 à novembre 2017</p>
    </div>
</div>

<h5>Chaudronnerie</h5>
<div class="details">
    <p>Chez M.S.I. <i class="fas fa-caret-up"></i></p>
    <div class="details-popup">
        <p>12 semaine de stage entre 2014 et 2016 suivi de 2 semaine d'intérim en 2017</p>
    </div>
</div>
<div class="details">
    <p>Au Burkina Faso <i class="fas fa-caret-up"></i></p>
    <div class="details-popup">
        <p>Nous avons créer un abris métallique pour des enfants d'une maternelle avec mon lycée</p>
    </div>
</div>
<div class="details">
    <p>Chez C.C.M. <i class="fas fa-caret-up"></i></p>
    <div class="details-popup">
        <p>6 semaine de stage en 2014</p>
    </div>
</div>