<h3>Expériences Professionnelles</h3>

<h5 class="popup" title="février 2020 - en cours">Greentic, développeur web <i class="far fa-calendar-alt"></i></h5>
<ul>
    <li>Développement site e-commerce, vitrine, gestion de compte</li>
    <li>Gestion de projet en autonomie avec le client</li>
</ul>
<br>

<h5 class="popup" title="février 2019 - février 2020">KLS Transport, alternance développeur <i class="far fa-calendar-alt"></i></h5>
<ul>
    <li>Développement TMS</li>
    <li>Support technique client</li>
</ul>
<br>

<h5 class="popup" title="février 2017 - septembre 2017">XPO Gel Service, préparateur de commande <i class="far fa-calendar-alt"></i></h5>
<ul>
    <li>Préparation de commande en surgelé</li>
</ul>
<br>

<h5 class="popup" title="août 2016 - février 2017">M.S.I, chaudronnier <i class="far fa-calendar-alt"></i></h5>
<ul>
    <li>Préparation de commande en surgelé</li>
</ul>