<h3>Formations</h3>

<h5 class="popup" title="septembre 2017 à février 2019">OpenClassrooms <i class="far fa-calendar-alt"></i></h5>
<p>Développeur web junior</p>

<h5 class="popup" title="depuis janvier 2017">Auto-Formation <i class="far fa-calendar-alt"></i></h5>
<p>Développeur web</p>
<h5 class="popup" title="obtenu en juillet 2016">Lycée Galilée <i class="far fa-calendar-alt"></i></h5>
<p>Bac Pro Chaudronnerie</p>