<h3>Formations</h3>

<h5>OpenClassrooms</h5>
<p>Développeur Web Junior en 2019</p>
<h5>Auto-Formation</h5>
<p>Développement Web en 2018</p>
<h5>Lycée Galilée</h5>
<p>Bac Pro Chaudronnerie en 2016</p>
<h5>Lycée Galilée</h5>
<p>CAP Chaudronnerie en 2015</p>
<h5>Collège George Brassens</h5>
<p>Brevet des collèges</p>