<h3>Qualités</h3>
<ul>
    <li>Curieux</li>
    <li>Logique</li>
    <li>Autonome</li>
    <li>Sociable</li>
    <li>Ingénieux</li>
    <li>Réaliste</li>
    <li>Efficace</li>
    <li>Travailleur</li>
</ul>