<h3>Compétences</h3>
<ul>
    <li>PHP / Symfony / PrestaShop</li>
    <li>React.js / MobX</li>
    <li>MySQL</li>
    <li>JavaScript / jQuery</li>
    <li>CSS / Bootstrap</li>
    <li>HTML / Twig</li>
    <li>GitHub / GitLab</li>
    <li>Conception 3D</li>
    <li>Edition d'image</li>
    <li>Windev / Webdev</li>
</ul>