<h3>Compétences</h3>

<ul>
    <li>PHP / Symfony / PrestaShop</li>
    <li>HTML 5 / Twig / Smarty</li>
    <li>CSS 3 / Bootstrap</li>
    <li>MySQL</li>
    <li>JavaScript / React.js / jQuery</li>
    <li>GitHub / GitLab / Docker</li>
    <li>Conception 3D</li>
    <li>Windev / Webdev</li>
    <li>GIMP / Photoshop</li>
</ul> 