<footer>
{#    <a id="download" href="{{path('cv')}}"><i class="fa fa-download" aria-hidden="true"></i> Téléchager mon CV</a>#}
    <a href="mailto:j.farin38@gmail.com">j.farin38@gmail.com</a>
    <a href="tel:+33644079372">06 44 07 93 72</a>
    <div>
        <a href="https://www.linkedin.com/in/j%C3%A9r%C3%B4me-farin-3987a3169/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/JeromeFarin"  target="_blank"><i class="fab fa-github-square"></i></a>
    </div>
    <p><i class="fa fa-copyright" aria-hidden="true"></i> 2021 Jérôme Farin</p>
</footer>