<header class="d-flex justify-content-around flex-column align-items-center">
    <div>
        <h1>Jérôme Farin</h1><br>
        <h2>Développeur Web</h2>
        <h2>Symfony - React.js</h2>
        <h2>Junior</h2>
    </div>

    <nav class="nav">
      <a class="nav-link active" href="{{path('index')}}">Curriculum Vitae</a>
      <a class="nav-link" href="#">Mes Projets</a>
      <a class="nav-link" href="#">Mes Diplômes</a>
      <a class="nav-link" href="{{path('contact')}}">Contact</a>
    </nav>

    <footer>
        <div id="social">
            <a href="https://www.linkedin.com/in/j%C3%A9r%C3%B4me-farin-3987a3169/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/JeromeFarin"  target="_blank"><i class="fab fa-github-square"></i></a>
        </div>
        <p><i class="fa fa-copyright" aria-hidden="true"></i> 2019 Jérôme Farin</p>
    </footer>
</header>