{% extends 'base.html.twig' %}

{% block body %}
    <a id="download" href="{{path('cv')}}" title="Téléchager le CV"><i class="fa fa-download" aria-hidden="true"></i></a>

    <div class="h-100 d-xl-flex justify-content-around align-items-center">
        <div>
            {% include "blocks/skills.html.twig" %}
        </div>
        <hr class="d-xl-none">
        <div>
            {% include "blocks/formations.html.twig" %}
        </div>
        <hr class="d-xl-none">
        <div>
            {% include "blocks/experiences.html.twig" %}
        </div>
        <hr class="d-xl-none">
        <div>
            {% include "blocks/qualities.html.twig" %}
        </div>
    </div>
{% endblock %}
