<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>Tu as une demande de {{ username }} provenant de jeromefarin.fr</p>
    <p>Il demande :</p>
    <p>{{ message }}</p>
</body>
</html>